@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$darkpurple-color: #4b1d3f;
$carmine-color: #d62246;
$aeroblue-color: #d4f4dd;
$tiffanyblue-color: #17bebb;
$teal-color: #0e7c7b;

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: $aeroblue-color;
    width: 100vw;
    height: 100vh;
    min-width: 453px;
}

.header {
    width: 100%;
    height: 15vh;
    background-color: $teal-color;

    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__h1 {
        color: $aeroblue-color;
        font-size: 3rem;
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0.5em;
    }

    &__h3 {
        color: $aeroblue-color;
        font-size: 1.5rem;
    }

    &__list {
        display: flex;
        align-items: center;
        padding: 14px;
    }

    &__ul {
        color: $tiffanyblue-color;
        list-style: none;
        display: flex;
        gap: 20px;
        a {
            color: $tiffanyblue-color;
            cursor: pointer;
            text-decoration: none;
        }
    }

    &__menuContainer {
        display: flex;
        gap: 85px;
        margin: 0 1em;
    }
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 5em 0;

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $teal-color;
        width: 90%;
        height: 200px;
        border-radius: 50px;
    }

    &__h3 {
        font-size: 30px;
        color: $aeroblue-color;
    }

    &__ul {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
        justify-content: center;
        gap: 50px;
        a {
            color: $tiffanyblue-color;
            cursor: pointer;
            text-decoration: none;
        }
    }
    &__li {
        list-style: none;
        background-color: $aeroblue-color;
        color: $teal-color;
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        font-size: 20px;
    }

    &__li:hover {
        background-color: $teal-color;
        color: $tiffanyblue-color;
    }
}

@media screen and (max-width: 1384px) {
    .header__list {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .header__ul {
        gap: 8px;
        margin-block-start: 10px;
    }
}

@media screen and (max-width: 1030px) {
    .header {
        &__menuContainer {
            display: block;
        }
    }
}

@media screen and (max-width: 839px) {
    .main {
        .main__card {
            height: 46vh;
        }

        .main__h3 {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        .main__ul {
            justify-content: flex-start;
            gap: 19px;
            margin-block-start: 18px;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 839px) {
    .header {
        height: 24vh;
        &__nav {
            flex-direction: column;
        }

        &__list {
            flex-direction: row;
        }
    }
}

@media screen and (max-width: 519px) {
    .header {
        &__ul {
            gap: 0;
            margin-block-end: 0;
            padding-inline-start: 10px;
        }
    }
}
